/*Header

    --light_bg_color: rgb(75,75,75);
    --dark_bg_color: rgb(38,38,38);
    --accent_color: rgb(51,171,21);
*/
body
{
  color: white;
  padding : 0px;
  margin : 0px;
  background-color: rgb(38,38,38);
}

.header_background
{
  color: white;
  background-color: rgb(75,75,75);
  width: 100%;
  height: 10%;
}

#search_bar
{
  width : 90%;
  border-radius: 30px;
  border-style: none;
  height : 50px;
  color: red;
}
#search_button
{
  border-radius: 30px;
  border-style: none;
  height : 40px;
  background: linear-gradient(0.25turn, rgb(51,171,21), rgb(27, 135, 15));
  width: 10%;
}
.fond
{
  background-color : white;
  width: 80%;
  padding: 0px;
  margin : 0px;
  padding-right: 5px;
  border-radius: 30px;
}
