/*
    --light_bg_color: rgb(75,75,75);
    --dark_bg_color: rgb(38,38,38);
    --accent_color: rgb(51,171,21);
*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
*
{
  color: white;
  padding: 0px;
  margin: 0px;

}

.profil
{
  background-color: rgb(75,75,75);
  color: white;
  width: 200px;
  border-bottom-right-radius: 30px;
  font-family: 'Baloo 2';
  font-size: 20px;
  padding-left : 10px;
}

.profil_pseudo
{

}

.profil_img
{
  width: 75px;
  height: 75px;
  border-radius: 5px;
  border-bottom-right-radius: 30px;
  margin-bottom : 10px
}


.abonnement_button
{
  border-radius: 5px;
  border-bottom-right-radius: 30px;
  background: linear-gradient(0.25turn, rgb(51,171,21), rgb(27, 135, 15));
  font-family: 'Baloo 2';
  font-size: 20px;
  border-style: none;
  border-width: 5px;
  margin-bottom: 10px;
  padding : 0px 20px 0px 20px;
}
.info
{
  margin-left: 10px;
}
.orga
{
  padding-top: 10px;
  display: inline-flex;
  width: 100%;
}
