/*User

    --light_bg_color: rgb(75,75,75);
    --dark_bg_color: rgb(38,38,38);
    --accent_color: rgb(51,171,21);
*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.user_banniere{
  height: 10%;
  background-color: rgb(51,171,21);

  border-top: 2px solid rgb(38,38,38);

  text-align: left;
  padding: 5%;
}

.user_pseudonyme{
  font-family: 'Baloo 2';
  text-transform: capitalize;
}
