/*Header

    --light_bg_color: rgb(75,75,75);
    --dark_bg_color: rgb(38,38,38);
    --accent_color: rgb(51,171,21);
*/
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
body
{
  color: white;
  padding : 0px;
  margin : 0px;
  background-color: rgb(38,38,38);
}

.header_background
{
  color: white;
  background-color: rgb(75,75,75);
  width: 100%;
  height: 10%;
}

#search_bar
{
  width : 90%;
  border-radius: 30px;
  border-style: none;
  height : 50px;
  color: red;
  font-family: 'Baloo 2';
  font-size: 20px;
  padding-left: 15px;

}

#search_bar:focus
{
  outline: none;
}
#search_button
{
  border-radius: 30px;
  border-style: none;
  height : 40px;
  background: linear-gradient(0.25turn, rgb(51,171,21), rgb(27, 135, 15));
  width: 10%;
  font-family: 'Baloo 2';
  font-size: 22px;
}
.fond
{
  background-color : white;
  width: 80%;
  padding: 0px;
  margin : 0px;
  padding-right: 5px;
  border-radius: 30px;
  box-shadow: 7px 7px 7px rgb(50,50,50);
  transition: 0.5s ease;
}
