@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

body
{
  background-color: rgb(38,38,38);
  overflow-x: hidden;
  overflow-y: hidden;
}

#btn_connexion, #btn_inscription
{
  background: linear-gradient(0.25turn, rgb(51,171,21), rgb(27, 135, 15));
  border-radius: 50px;
  color: white;
  font-size: 40px;
  border-style : none;
  padding: 0px 20px 0px 20px;
  border-color: rgba(0,0,0,0);
  font-family: "Baloo 2";
  box-shadow: 7px 7px 7px black;
  height: 50px;
  font-size: 22px;
  width: 90%;
}

.inp_pseudo_conn
{
  background-color: white;
  color:black;
  font-size: 40px;
  border-style: none;
  border-radius: 50px;
  font-family: "Baloo 2";
  padding : 0px 30px 0px 30px;
  box-shadow: 7px 7px 7px black;
  width: 90%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
}
.inp_pseudo_conn:focus
{
  outline: none;
}
.mail
{
  background-color: white;
  color:black;
  font-size: 40px;
  border-style: none;
  border-radius: 50px;
  font-family: "Baloo 2";
  padding : 0px 30px 0px 30px;
  box-shadow: 7px 7px 7px black;
  width: 90%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
}
.mail:focus
{
  outline: none;
}

.pwd
{
  background-color: white;
  color:black;
  font-size:40px;
  border-style: none;
  border-radius: 50px;
  font-family: "Baloo 2";
  padding : 0px 30px 0px 30px;
  box-shadow: 7px 7px 7px black;
  width: 90%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 20px;
}

.pwd:focus
{
  outline: none;
}

.connect_area
{
  background-color: rgb(20, 20, 20);
  width: 50%;
  border-radius: 50px;
  margin: auto;
  text-align: center;
  padding: 30px 10px 30px 10px;
  margin-top: 25px;
  border-style: solid;
  border-color: black;
}
.insc_area
{
  background-color: rgb(20, 20, 20);
  width: 50%;
  border-radius: 50px;
  margin: auto;
  text-align: center;
  padding: 30px 10px 30px 10px;
  margin-top: 25px;
  display: none;
  border-style: solid;
  border-color: black;
}

.fond_selecteur
{
  display: inline-flex;
  margin-bottom: 10px;
  width: auto;
  text-align: center;
  background-color: rgb(20, 20, 20);
  border-radius: 50px;
  border-style: solid;
  border-color: black;
}

.sel_connexion
{
  font-family: "Baloo 2";
  font-size: 22px;
  margin: 5px;
  border-radius: 50px;
  padding: 0px 10px 0px 10px;
  border: none;
  color: white;
  background: linear-gradient(0.25turn, rgb(51,171,21), rgb(27, 135, 15));

}
.sel_inscription
{
  font-family: "Baloo 2";
  font-size: 22px;
  margin: 5px;
  border-radius: 50px;
  padding: 0px 10px 0px 10px;
  border: none;
  color: white;
}
.sel_connexion, .sel_inscription
{
  outline:none;
}
.hello
{
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 30px 10px 30px 10px;
  margin-top: 50px;
}

.btn_ins18, .ins_conditionsgene
{
  border-color : rgb(51,171,21);
  border-width: 1px;
  border-style: solid;
  font-family: 'Baloo 2';
  margin-bottom: 20px;
  width: 90%;
  border-style: none;
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
}

.erreur
{
  color:red;
  margin: 20px auto 0px auto;
  font-size:40px;
  border-style: solid;
  border-color: red;
  border-radius: 50px;
  font-family: "Baloo 2";
  width: 40%;
  font-size: 20px;
  text-align: center;
}
