/*User

    --light_bg_color: rgb(75,75,75);
    --dark_bg_color: rgb(38,38,38);
    --accent_color: rgb(51,171,21);
*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

.field{
  background-color: rgb(20, 20, 20);
  width: 50%;
  border-radius: 50px;
  margin : 10px;
  padding: 30px 10px 30px 10px;
  margin-top: 25px;
  border-style: solid;
  border-color: black;
  font-family: 'Baloo 2';
  text-align: center;
}

.user_pseudonyme{
  font-family: 'Baloo 2';
  text-transform: capitalize;
}

.admin_connect
{
  display: block;
  background-color: red;
  width: calc(40%-20px);
}
.users_while_connect
{
  background-color: blue;
}
.test
{
  display : inline-flex;
}
