/*
    --light_bg_color: rgb(75,75,75);
    --dark_bg_color: rgb(38,38,38);
    --accent_color: rgb(51,171,21);
*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');
*
{
  color: white;
  padding: 0px;
  margin: 0px;

}

.userdiv
{
  background-color: rgb(20, 20, 20);
  width: 50%;
  border-radius: 50px;
  margin: auto;
  text-align: center;
  padding: 30px 10px 30px 10px;
  margin-top: 25px;
  border-style: solid;
  border-color: black;
  font-family: 'Baloo 2';
}

.profil
{
  background-color: rgb(75,75,75);
  color: white;
  width: 200px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 10px;
  font-family: 'Baloo 2';
  font-size: 20px;
  padding-left : 10px;

}

.profil_pseudo
{

}

.profil_pseudo:hover
{
    transition: 0.5 ease;
    text-shadow: white 1px 0 10px;
}

.profil_img
{
  width: 75px;
  height: 75px;
  border-radius: 5px;
  border-bottom-right-radius: 30px;
  margin-bottom : 10px
}

.abonnement_button_y
{
  webkit-box-shadow:inset 0px 0px 0px 4px #33AB15;
  -moz-box-shadow:inset 0px 0px 0px 4px #33AB15;
  box-shadow:inset 0px 0px 0px 4px #33AB15;

  border-radius: 5px;
  border-bottom-right-radius: 30px;
  border-style: none;

  background-color: rgba(0,0,0,0);

  font-family: 'Baloo 2';
  font-size: 20px;
  margin-bottom: 10px;
  padding : 0px 20px 0px 20px;
  width: 90%;
  height: 40%;

  font-style: italic;
}

.abonnement_button_n
{
  border-radius: 5px;
  border-bottom-right-radius: 30px;
  background: linear-gradient(0.25turn, rgb(51,171,21), rgb(27, 135, 15));
  font-family: 'Baloo 2';
  font-size: 20px;
  border-style: none;
  border-width: 5px;
  margin-bottom: 10px;
  padding : 0px 20px 0px 20px;
  width: 90%;
}

.info
{
  margin-left: 10px;
}
.orga
{
  padding-top: 10px;
  display: inline-flex;
  width: 100%;
}
