@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

body
{
  background-color: rgb(38,38,38);
  justify-content: center;
}

#btn_connexion
{
  background: linear-gradient(0.25turn, rgb(51,171,21), rgb(27, 135, 15));
  border-radius: 50px;
  color: white;
  font-size: 40px;
  border-style : none;
  padding: 0px 20px 0px 20px;
  border-color: rgba(0,0,0,0);
  font-family: "Baloo 2";
}

.connexionarea
{
  display: list-item;
  background-color: red;
}

.inp_pseudo_conn
{
  background-color: rgb(25,25,25);
  color:white;
  font-size: 40px;
  border-style: none;
  border-radius: 50px;
  font-family: "Baloo 2";
  padding : 0px 30px 0px 30px;
}
.inp_pseudo_conn:focus
{
  outline: none;
}


.pwd
{
  background-color: rgb(25,25,25);
  color:white;
  font-size:40px;
  border-style: none;
  border-radius: 50px;
  font-family: "Baloo 2";
  padding : 0px 30px 0px 30px;
}

.pwd:focus
{
  outline: none;
}
